{% extends 'base.html' %}

{% block body %}  
    HOMEPAGE 
    {% if request.user.is_authenticated %}
    	hello: {{user.username}}
    {% endif %}

	{% if not request.user.is_authenticated %}
    	<ul>
	    	<li>
	       		<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
	     	</li>
	     	<li>
	     	  	<a href="{% url 'user_management:login' %}"> LOGIN </a>
	     	</li>
     	</ul>
    {% endif %}
    {% if request.user.is_authenticated %}
    	<ul>
    		<li><a href="{% url 'user_management:logout' %}"> LOGOUT </a></li>
    		<li><a href="{% url 'track_management:gpxUpload' %}"> UPLOAD GPX </a></li>
	   		<li><a href="{% url 'track_management:userListTracks' %}"> VIEW USER TRACKS </a></li>
    	</ul>
    {% endif %}

{% endblock %}